@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@400;700&family=Inter:wght@400;500;600;700;800&display=swap');

:root {
  --bg: white;
  --text: black;
  --border: #eee;
  --accent: #4f46e5;

  --mono-font: 'Geist Mono', monospace;
  --main-font: 'Inter', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;

  scrollbar-width: none;

}

::-webkit-scrollbar {
  display: none;

}

body {
  background: var(--bg);
  color: var(--text);
  font-family: var(--main-font);
  overflow-x: hidden;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

.mono {
  font-family: var(--mono-font);
  font-size: 11px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.container {
  max-width: 1400px;
  margin: auto;
  padding: 0 60px;
}

.grid-bg {
  position: absolute;
  inset: 0;

  background-image:
    linear-gradient(#eee 1px, transparent 1px),
    linear-gradient(90deg, #eee 1px, transparent 1px);

  background-size: 50px 50px;

  z-index: -1;
}



.btn-black {
  background: black;
  color: white;

  padding: 14px 28px;

  border: 1px solid black;
  border-radius: 4px;

  display: inline-flex;
  align-items: center;
  gap: 10px;

  font-size: 14px;
  font-weight: 700;

  transition: 0.2s;
}

.btn-black:hover {
  background: white;
  color: black;
}

.btn-ghost {
  background: transparent;
  color: black;

  padding: 14px 28px;

  border: 1px solid var(--border);
  border-radius: 4px;

  display: inline-flex;
  align-items: center;
  gap: 10px;

  font-size: 14px;
  font-weight: 700;

  transition: 0.2s;
}

.btn-ghost:hover {
  border-color: black;
}

.card {
  background: white;

  padding: 40px;

  border: 1px solid var(--border);

  transition: 0.3s;
}

.card:hover {
  border-color: var(--accent);
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 16px;

  font-size: 24px;
  font-weight: 900;
}

.logo-icon {
  width: 44px;
  height: 44px;

  background: black;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 4px;
}

.simulator-card {
  background: white;

  border: 1px solid var(--border);

  overflow: hidden;
}

.sim-input {
  width: 100%;

  padding: 16px;

  border: 1px solid var(--border);

  background: #fafafa;

  font-size: 14px;
  font-family: var(--mono-font);

  outline: none;
}

.sim-input:focus {
  border-color: black;
  background: white;
}

.sim-badge {
  display: flex;
  align-items: center;
  gap: 12px;

  padding: 12px 20px;

  border: 1px solid var(--border);

  background: white;

  font-size: 11px;
  font-weight: 700;

  font-family: var(--mono-font);
}

@media (max-width: 768px) {

  .container {
    padding: 0 24px;
  }

  .logo-container {
    font-size: 18px;
  }

}